@model FreeLancer.Models.cv

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login | FreeLancer</title>
    <!-- Bootstrap Core CSS -->
    <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
    <!-- jQuery -->
    <script src="@Url.Content("~/Content/js/jquery.js")"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
</head>



<body>

    <div>
        @RenderBody()

    </div>


    <!-- Header -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("index", "freelancer")">FreeLancer </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                 


                    <li>
                        <a href="@Url.Action("logout", "freelancer")">
                            Logout
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Header end-->


    <div class="container">






        <h2>Your Data</h2>

        <table class="table">
            <tr><td> @ViewBag.t</td></tr>

            <tr><td> @ViewBag.a</td></tr>
            <tr><td> @ViewBag.b</td></tr>


        </table>

        


















    </div>



    <footer>
        <div class="container">
            <center>
                <p>Copyright &copy; FreeLancer. All Rights Reserved  |  Contact Us: +91-9475912336</p>
            </center>
        </div>
    </footer>
</body>
</html>