@model FreeLancer.Models.cv
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CV | FreeLancer</title>
    <!-- Bootstrap Core CSS -->
    <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet type=" text/css" ">
    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet type=" text/css" ">
    <!-- jQuery -->
    <script src="@Url.Content("~/Content/js/jquery.js")"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <style>



        td {
            width: 200px;
        }
    </style>
</head>


<body>

    <div>
        @RenderBody()
    </div>


    <!-- Header -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("index", "freelancer")">FreeLancer </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">

                    <li>


                        <a href="@Url.Action("show", "freelancer")">

                            Cv Data
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                        </a>
                    </li>

                    <li>


                        <a href="@Url.Action("logout", "freelancer")">

                            Logout
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Header end-->


    @if (Session["Email"] != null)
    {
        <p>Welcome @Session["Email"].ToString()</p>
    }


    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
        <h2>CV FORM</h2>
        @using (Html.BeginForm())
        {

            <table>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.Name)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Name)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.Email)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Email)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.FathersName)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.MothersName)
                    </td>
                </tr>


                <tr>
                    <td>
                        @Html.LabelFor(model => model.MothersName)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.MothersName)
                    </td>
                </tr>


                <tr>
                    <td>
                        @Html.LabelFor(model => model.Age)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Age)
                    </td>
                </tr>


                <tr>
                    <td>
                        @Html.LabelFor(model => model.Gender)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Gender)
                    </td>
                </tr>


                <tr>
                    <td>
                        @Html.LabelFor(model => model.Class10)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Class10)
                    </td>
                </tr>


                <tr>
                    <td>
                        @Html.LabelFor(model => model.Stream)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Stream)
                    </td>
                </tr>



                <tr>
                    <td>
                        @Html.LabelFor(model => model.Class12)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Class12)
                    </td>
                </tr>


                <tr>
                    <td>
                        @Html.LabelFor(model => model.Achivements)
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.Achivements, 3, 23, null)
                    </td>
                </tr>


                <tr>
                    <td>
                        @Html.LabelFor(model => model.Skills)
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.Skills, 3, 23, null)
                    </td>
                </tr>


                <tr>
                    <td>
                        @Html.LabelFor(model => model.Interests)
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.Interests, 3, 22, null)
                    </td>
                </tr>



            </table>




            <button type="submit" name="submit" class="btn btn-primary">Submit</button>

            <br>


            <p>
                @ViewBag.m
            </p>

            <div class="padding">

            </div>

        }





    </div>

    <div class="padding">

    </div>


    <div class="padding">

    </div>


    <footer>
        <div class="container">
            <center>
                <p>Copyright &copy; FreeLancer. All Rights Reserved  |  Contact Us: +91-9475912336</p>
            </center>
        </div>
    </footer>
</body>
</html>